html {
    background-color: #f4f4f4;
}

h3 {
    color:#F48FB1;
}

.form-style-5{
    height:230px;
    max-width: 500px;
    padding: 20px 20px 14px;
    background: #f8f8f8;
    margin: 10px auto;
    border-radius: 8px;
}

.form-style-5 legend {
    font-size: 1.4em;
    margin-bottom: 30px;
}

.form-style-5 .number {
    background: #F8BBD0;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 15px 15px 15px 0px;
}

.input-field .prefix.active {
    color: #ccc;
}

.input-field input[type=text]:focus {
    border-bottom: 1px solid #F48FB1;
    box-shadow: 0 1px 0 0 #000;
}

/*.button-collapse {
    color: #26a69a;
}
*/
.parallax-container {
    min-height: 480px;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,.9);
}
.parallax-container .section {
    width: 100%;
}

@media only screen and (min-width: 993px) {
    .container {
        width: 80%;
    }
}

@media only screen and (max-width : 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }

    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width : 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
